<<<<<<< HEAD
template(name='home')
    section.md-padding.md-margin.md-container
        md-content.md-padding
            h1 [[Home.hello]]
=======
template(name="home")
    section#home.md-padding.md-margin
        md-content.container.md-padding
            h1 [[Home.hello]]
>>>>>>> ac45c9813db5e4bea83d3782ebf233be87d16f00
