template(name="header")
    +menu
    header(ng-controller="headerController as Header" layout="row")
        md-toolbar.md-whiteframe-z2
            div.md-toolbar-tools.container
                h1(flex) App
                +menu_toggle