template(name="menu_toggle")
    md-button(ng-click="App.toggleMenu()" aria-label="toggle menu").md-icon-button
        md-icon.fa.fa-bars

template(name="menu_close")
    md-button(ng-click="App.toggleMenu()" aria-label="close menu").md-icon-button
        md-icon.fa.fa-times