template(name="menu")
    md-sidenav#menu.md-sidenav-right.md-whiteframe-z3(md-component-id="menu" md-swipe-right="App.toggleMenu()")
        span(ng-controller="menuController as Menu")
            md-toolbar
                div.md-toolbar-tools
                    h1(flex) Menu
<<<<<<< HEAD
                    md-button(ng-click="App.toggleMenu()").md-icon-button
                        md-icon.fa.fa-bars
=======
                    +menu_close
>>>>>>> ac45c9813db5e4bea83d3782ebf233be87d16f00
            md-content.layout-padding
                p [[Menu.hello]]
