template(name="menu")
    md-sidenav#menu.md-sidenav-right.md-whiteframe-z3(md-component-id="menu" md-swipe-right="App.toggleMenu()")
        span(ng-controller="menuController as Menu")
            md-toolbar
                div.md-toolbar-tools
                    h1(flex) Menu
                    +menu_close
            md-content.layout-padding
                md-list
                    md-list-item(ng-repeat="item in Menu.items" ng-click="App.go([[item.target]])").md-primary
                        i(class="fa fa-fw fa-[[item.icon]]")
                        p [[item.label]]
